@page "/IndexWsSmart"
@using Data.Model

<h3>Index WsSmart</h3>

<div class="col-lg-12 control-section">
	<div class="content-wrapper">
		<div class="row">
			<SfGrid DataSource="@GridData"
					AllowFiltering="true"
					AllowPaging="true"
					AllowSorting="true"
					Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel", "Print", "PdfExport", "Search" })"
					Height="350px;"
					@ref="GridRef"
					ContextMenuItems="@(new List<object>() { "Copy", "Edit", "Delete", "Save", "Cancel", "PdfExport" })">
				<GridEvents TValue="WsmartMenu" OnActionBegin="OnActionBeginHandler"></GridEvents>
				<GridFilterSettings Type="FilterType.Excel"></GridFilterSettings>
				<GridPageSettings PageSize="5"></GridPageSettings>
				<GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog" ShowDeleteConfirmDialog="true"></GridEditSettings>
				<GridColumns>
					<GridColumn Field="@nameof(WSmartMenu.Id)" HeaderText="Id" IsPrimaryKey="true" Visible="false"></GridColumn>
					<GridColumn Field="@nameof(WSmartMenu.MenuLevel)" HeaderText="Menu Level" TextAlign="TextAlign.Left" Width="150"></GridColumn>
					<GridColumn Field="@nameof(WSmartMenu.Href)" HeaderText="Href" TextAlign="TextAlign.Left" Width="200"></GridColumn> 
					<GridColumn Field="@nameof(WSmartMenu.Icon)" HeaderText="Icon" TextAlign="TextAlign.Left" Width="100"></GridColumn>
					<GridColumn Field="@nameof(WSmartMenu.DisPlay)" HeaderText="Display" TextAlign="TextAlign.Left" Width="150"></GridColumn>
					<GridColumn Field="@nameof(WSmartMenu.Match)" HeaderText="Match" TextAlign="TextAlign.Left" Width="150"></GridColumn>
@* 					<GridColumn Field="@nameof(WSmartMenu.IsGroup)" HeaderText="Is Group" TextAlign="TextAlign.Center" Width="100"></GridColumn>
					<GridColumn Field="@nameof(WSmartMenu.IsActive)" HeaderText="Is Active" TextAlign="TextAlign.Center" Width="100"></GridColumn> 	 *@	
				</GridColumns>

			</SfGrid>
		</div>
	</div>
</div>


@code {

}
