@page "/GetIndex"
@using Data.Model


<h3>Get Index SmartData</h3>
<div class="col-lg-12 control-section">
    <div class="content-wrapper">
        <div class="row">
            <SfGrid DataSource="GridData"
                    AllowFiltering="true"
                    AllowPaging="true"
                    AllowSorting="true"
                    AllowSelection="true"
                    EnableVirtualization="true" EnableVirtualMaskRow="true"
                    Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel", "Print", "PdfExport", "Search" })"
                    Height="350px;"
                    @ref="SfGrid"
                    ContextMenuItems="@(new List<object>() { "Copy", "Edit", "Delete", "Save", "Cancel", "PdfExport" })">
                <GridEvents TValue="SmartData"></GridEvents>
                <GridFilterSettings Type="FilterType.Excel"></GridFilterSettings>
                <GridPageSettings PageSize="10"></GridPageSettings>
                <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog" ShowDeleteConfirmDialog="true"></GridEditSettings>
                <GridColumns>
                    <GridColumn Field="@nameof(SmartDatas.Id)" HeaderText="Id" IsPrimaryKey="true" Visible="false"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.DataType)" HeaderText="DataType" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.DataType)" HeaderText="DataType" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.VoucherDate)" HeaderText="VoucherDate" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.RecordDate)" HeaderText="RecordDate" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.NumberOfVouchers)" HeaderText="NumberOfVouchers" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.ObjectCode)" HeaderText="ObjectCode" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.ObjectName)" HeaderText="ObjectName" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.ObjectAddress)" HeaderText="ObjectAddress" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.ObjectTaxCode)" HeaderText="ObjectTaxCode" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.MethodOfPaymentsCode)" HeaderText="MethodOfPaymentsCode" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.MethodOfPaymentsName)" HeaderText="MethodOfPaymentsName" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.Description)" HeaderText="Description" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.Notes)" HeaderText="Notes" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.CreateDate)" HeaderText="CreateDate" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.ModifyDate)" HeaderText="ModifyDate" Width="120"></GridColumn>
                    <GridColumn Field="@nameof(SmartDatas.ObjectEmail)" HeaderText="ObjectEmail" Width="120"></GridColumn>
                </GridColumns>

            </SfGrid>
        </div>
    </div>
</div>

@code {

}
